## SvenCo-op map CFG file - BeachXp
## Map Author: MysticMDT
## Author Website: http://www.mysticmdt.hlgaming.com

weapon_crowbar
weapon_handgrenade
ammo_buckshot 5
ammo_9mm 2

## 'Skill 1' is normal, 'Skill 2' makes monsters harder to kill,
## 'Skill 3' makes monsters harder to kill, and players easier to kill.

skill 2

mp_timelimit 0
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 1
mp_allowgaussjump 0
nomedkit

killnpc 1

## Physics stuff. 
## Don't change unless you know what you're doing!
sv_dropweapons 0 
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1

## Player Armour - Must be between 1 and a 100
startarmor 25
